/* 0) Standard button */
.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .15s ease;
}

.btn:focus { outline:0; }
.btn:hover  { transform: translateY(-1px); }
.btn:active { transform: translateY(0); }

.btn--xl {
    width: 250px;
    font-size: 1.25rem;
    padding: 10px 15px;
}

.btn--lg {
    font-size: 1.1rem;
    padding: 10px 15px;
}

.btn--sm {
    font-size: .9rem;
    padding: 8px 8px;
}

.btn--fill { width: 100%; }
.btn--white { color: white; }

/*1) OUTLINE */
.btn-outline {
    border-radius: 50px;
    border: 2px solid var(--main-white);
    color: var(--main-white);
}

.btn-outline:hover {
    border: 2px solid var(--main-blue);
    background-color: var(--main-blue);
}

/*2) MAIN */
.btn-main {
    border-radius: 4px;
    border: 2px solid var(--main-blue);
    background-color: var(--main-blue);
    color: var(--main-white);
}

.btn-main:hover {
    border: 2px solid var(--main-blue-hover);
    background-color: var(--main-blue-hover);
}

/*3) TRAILER */
.btn-trailer {
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, .3);
    text-transform: none;
    color: var(--main-white);
    font-weight: 300;
    font-size: 1rem !important;
}

.btn-trailer:hover {
    background-color: var(--main-white);
    color: black;
    transform: scale(1.1,1.05) translateY(-1px);

}