/* 0) STANDARD BUTTON STYLE */
.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    display: inline-block;
    font-weight: 300;
    font-size: 1rem;
    color: var(--main-white);
}

.btn:focus { outline:0; }
.btn:hover  { 
    -webkit-transform: translateY(-1px); 
    transform: translateY(-1px); 
}
.btn:active { 
    -webkit-transform: translateY(0); 
    transform: translateY(0); 
}

/*1) OUTLINE */
.btn-outline {
    border-radius: 50px;
    border: 2px solid var(--main-white);
    text-transform: uppercase;
}

.btn-outline:hover {
    border: 2px solid var(--main-blue);
    background-color: var(--main-blue);
}

/*2) MAIN */
.btn-main {
    border-radius: 4px;
    border: 2px solid var(--main-blue);
    background-color: var(--main-blue);
    text-transform: uppercase;
}

.btn-main:hover {
    border: 2px solid var(--main-blue-hover);
    background-color: var(--main-blue-hover);
}

/*3) TRAILER */
.btn-trailer {
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .3);
    color: var(--main-white);
}

.btn-trailer:hover {
    background-color: var(--main-white);
    color: black;
    -webkit-transform: scale(1.1,1.05) translateY(-1px);
    transform: scale(1.1,1.05) translateY(-1px);
}

/* Modifiers */
.btn--xl { padding: .75rem 3rem; }
.btn--lg { padding: .75rem 1rem; }
.btn--sm { padding: .5rem .5rem; }
.btn--fill { width: 100%; }
.btn--white { color: white; }
