/* Buttons */
.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn:focus { outline:0; }
.btn:hover  { transform: translateY(-1px); }
.btn:active { transform: translateY(0); }

/* Tipos de botones */
.btn-outline {
    border-radius: 50px;
    border: 2px solid var(--main-white);
    color: var(--main-white);
    transition: all .15s ease-in;
}

.btn-outline:hover {
    border: 2px solid var(--main-blue);
    background-color: var(--main-blue);
}

.btn-main {
    border-radius: 3px;
    border: 2px solid var(--main-blue);
    background-color: var(--main-blue);
    color: var(--main-white);
    transition: all .15s ease-in;
}

.btn-main:hover {
    border: 2px solid var(--main-blue-hover);
    background-color: var(--main-blue-hover);
}

/* Modificadores a los botones */
.btn--xl {
    width: 250px;
    font-size: 1.25rem;
    padding: 10px 15px;
}
.btn--fill { width: 100%; }