/* Componentes tipo tarjeta */
.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

/* Elementos de una tarjeta */
.card-header {
    overflow: hidden;
}

.card-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-body {
    padding: 15px 20px;
    background-color: #222;
}

/* Modificadoes de una tarjetas */
.card-header--landscape {
    height: 175px;
}