/* Form group is a container of inputs, labels, etc. */
.form-group {
	width: 100%;
	padding: 5px 0;
	position: relative;
}

/* Input field */
.input {
	border: none;
	border-radius: 2px;
	padding: 10px;
	font-size: 1rem;
	letter-spacing: .5px;
	line-height: 1.5rem;
	width: 100%;
}

/* :not(:placeholder-shown) -> hack to control wether the input field is empty or not. The style will apply only in case the 
content doesn't fulfill the validation, and the input is already filled with data (otherwise the "error" style doesn't apply) */
.input:not(:placeholder-shown).input:invalid.input:not(:focus) {
	color: var(--main-red);
	border: 1px solid var(--main-red);
}

.input:not(:placeholder-shown).input:invalid.input:not(:focus) ~ .label--help {
	display: block;
}

/* Label */
.label {
	font-size: .75rem;
	font-weight: 500;
}

.label--lg {
	font-size: 1rem;
	font-weight: 300;
}

.label--light {
	color: var(--main-light-grey);
}

.label--help {
	text-align: right;
	color: var(--main-red);
	margin-top: 1px;
	display: none;
	text-transform: none;
	position: relative;
}

.label--help::after {
	display: block;
	content: '❗';
	position: absolute;
	font-size: 1.25rem;
	top: -35px;
	right: 10px;
	color: var(--main-red);
}

/* Checkbox & Radiobutton */
.form-checkbox, .form-radio {
	display: none;
}

.form-checkbox+label, .form-radio+label {
	padding-left: 30px;
	position: relative;
	cursor: pointer;
}

.form-checkbox+label:before, .form-radio+label:before {
	display: block;
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	padding-top: 1px;
	font-size: 0;
	line-height: 1rem;
	border: 1px solid var(--main-light-grey);
	border-radius: 2px;
	color: white;
	-webkit-transition: all .35s ease;
	transition: all .35s ease;
}

.form-checkbox:checked+label:before, .form-radio:checked+label:before {
	background-color: var(--main-blue);
	content: '✓';
	font-size: 1.5rem;
}

/* Tab panel */
.tab {
	width: 100%;
	max-width: 1000px;
}

.tab-sections {
	border-top: 1px solid var(--main-grey);
	padding: 20px 0;
}

.tab-input,
.tab-section {
	display: none;
}

.section-mini {
	border-radius: 10px;
	width: 100%;
}

.tab-section .details {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-orient: vertical; 
	-webkit-box-direction: normal; 
	-ms-flex-direction: column; 
	flex-direction: column;
}

.tab-section .rating {
	color: gold;
	margin: 20px 0;
}

.tab-section span {
	font-weight: 500;
	text-transform: uppercase;
	display: inline-block;
}

.tab-section .sinopsis {
	margin-left: 20px;
	text-align: justify;
}

.sinopsis-text {
	border-bottom: 1px solid var(--main-light-grey);
	padding-bottom: 20px;
}

.tab-section video {
	width: 100%;
	height: 500px;
}

.tab-nav {
	width: 100%;
	overflow: hidden;
}

.tab-nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.tab-label {
	cursor: pointer;
	color: var(--main-white);
	display: inline-block;
	padding: 13px 25px;
	text-transform: uppercase;
	background-color: transparent;
	position: relative;
}

.tab-label::after {    
	position: absolute;
	display: block;
	content: "";
	bottom: -1px;
	height: 2px;
	left: 50%;
	background: var(--main-blue);
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	width: 0;
}

.tab-label:hover::after { 
	width: 100%; 
	left: 0; 
}

#tab-1:checked ~ section .tab-section--1,
#tab-2:checked ~ section .tab-section--2,
#tab-3:checked ~ section .tab-section--3 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

#tab-3:checked ~ section .tab-section--3 {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

#tab-1:checked ~ nav .tab-1 .tab-label::after,
#tab-2:checked ~ nav .tab-2 .tab-label::after,
#tab-3:checked ~ nav .tab-3 .tab-label::after {
	width: 100%; 
	left: 0; 
}


#tab-1:checked ~ nav .tab-1 .tab-label,
#tab-2:checked ~ nav .tab-2 .tab-label,
#tab-3:checked ~ nav .tab-3 .tab-label {
	color: var(--main-blue);
}

.details-actors {
	margin-left: 10px;
	margin-top: 5px;
}

@media (max-width: 500px) {
	#tab-1:checked ~ section .tab-section--1 {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	
	.tab-section .sinopsis { margin-left: 0; }
	.tab-section .details p { margin-bottom: 5px; }
	.tab-label { padding: 10px 15px; }  
}

.comments { 
	max-width: 600px;
	text-align: left;
	padding: 20px;
}

.comment {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin-top: 15px;
}

.comment img {
	width: 36px;
	border-radius: 5px;
}

.comment-body {
	margin-left: 10px;
	font-size: .9rem;
}

.comment-name a {
	color: var(--main-white);
	font-weight: 500;
	margin-right: 5px;
}

.comment-name i{
	margin-left: 5px;
	margin-right: 5px;
	color: rgb(238, 170, 93);
}

.comment-name span {
	text-transform: lowercase;
	font-size: .9em;
	font-weight: 300;
}

.comment-text {
	margin-top: 7px;
}