/* Container */
.container { 
    position: relative;
    margin: 0 auto;
    width: 90%;
};

/* Row */
.row { width: 100%; }

/* Columns */
.col-12 { width: 100%; }
.col-11 { width: calc(100% / 12 * 11); }
.col-10 { width: calc(100% / 12 * 10); }
.col-9  { width: calc(100% / 12 * 9); }
.col-8  { width: calc(100% / 12 * 8); }
.col-7  { width: calc(100% / 12 * 7); }
.col-6  { width: calc(100% / 12 * 6); }
.col-5  { width: calc(100% / 12 * 5); }
.col-4  { width: calc(100% / 12 * 4); }
.col-3  { width: calc(100% / 12 * 3); }
.col-2  { width: calc(100% / 12 * 2); }
.col-1  { width: calc(100% / 12); }
.d-none { display: none !important; }
.d-hidden { visibility: hidden !important; }
.d-block { display: block !important; }

/* Responsive columns*/
@media (max-width: 575px) { 
    .col-xs-12 { width: 100%; }
    .col-xs-11 { width: calc(100% / 12 * 11); }
    .col-xs-10 { width: calc(100% / 12 * 10); }
    .col-xs-9  { width: calc(100% / 12 * 9); }
    .col-xs-8  { width: calc(100% / 12 * 8); }
    .col-xs-7  { width: calc(100% / 12 * 7); }
    .col-xs-6  { width: calc(100% / 12 * 6); }
    .col-xs-5  { width: calc(100% / 12 * 5); }
    .col-xs-4  { width: calc(100% / 12 * 4); }
    .col-xs-3  { width: calc(100% / 12 * 3); }
    .col-xs-2  { width: calc(100% / 12 * 2); }
    .col-xs-1  { width: calc(100% / 12); }    
    .d-xs-none { display: none !important; }
    .d-xs-block { display: block !important; }
}

@media (max-width: 767px) { 
    .col-sm-12 { width: 100%; }
    .col-sm-11 { width: calc(100% / 12 * 11); }
    .col-sm-10 { width: calc(100% / 12 * 10); }
    .col-sm-9  { width: calc(100% / 12 * 9); }
    .col-sm-8  { width: calc(100% / 12 * 8); }
    .col-sm-7  { width: calc(100% / 12 * 7); }
    .col-sm-6  { width: calc(100% / 12 * 6); }
    .col-sm-5  { width: calc(100% / 12 * 5); }
    .col-sm-4  { width: calc(100% / 12 * 4); }
    .col-sm-3  { width: calc(100% / 12 * 3); }
    .col-sm-2  { width: calc(100% / 12 * 2); }
    .col-sm-1  { width: calc(100% / 12); }    
    .d-sm-none { display: none !important; }
    .d-sm-block { display: block !important; }
}

@media (max-width: 959px) { 
    .col-md-12 { width: 100%; }
    .col-md-11 { width: calc(100% / 12 * 11); }
    .col-md-10 { width: calc(100% / 12 * 10); }
    .col-md-9  { width: calc(100% / 12 * 9); }
    .col-md-8  { width: calc(100% / 12 * 8); }
    .col-md-7  { width: calc(100% / 12 * 7); }
    .col-md-6  { width: calc(100% / 12 * 6); }
    .col-md-5  { width: calc(100% / 12 * 5); }
    .col-md-4  { width: calc(100% / 12 * 4); }
    .col-md-3  { width: calc(100% / 12 * 3); }
    .col-md-2  { width: calc(100% / 12 * 2); }
    .col-md-1  { width: calc(100% / 12); }    
    .d-md-none { display: none !important; }
    .d-md-block { display: block !important; }
}

@media (max-width: 1199px) { 
    .col-lg-12 { width: 100%; }
    .col-lg-11 { width: calc(100% / 12 * 11); }
    .col-lg-10 { width: calc(100% / 12 * 10); }
    .col-lg-9  { width: calc(100% / 12 * 9); }
    .col-lg-8  { width: calc(100% / 12 * 8); }
    .col-lg-7  { width: calc(100% / 12 * 7); }
    .col-lg-6  { width: calc(100% / 12 * 6); }
    .col-lg-5  { width: calc(100% / 12 * 5); }
    .col-lg-4  { width: calc(100% / 12 * 4); }
    .col-lg-3  { width: calc(100% / 12 * 3); }
    .col-lg-2  { width: calc(100% / 12 * 2); }
    .col-lg-1  { width: calc(100% / 12); }    
    .d-lg-none { display: none !important; }
    .d-lg-block { display: block !important; }
}

/* Margins */
.mt-0 { margin-top: 0 !important; }
.mt-1 { margin-top: 10px !important; }
.mt-2 { margin-top: 15px !important; }
.mt-3 { margin-top: 20px !important; }
.mt-4 { margin-top: 30px !important; }

.mb-0 { margin-bottom: 0 !important; }
.mb-1 { margin-bottom: 10px !important; }
.mb-2 { margin-bottom: 15px !important; }
.mb-3 { margin-bottom: 20px !important; }
.mb-4 { margin-bottom: 30px !important; }

.ml-0 { margin-left: 0 !important; }
.ml-1 { margin-left: 10px !important; }
.ml-2 { margin-left: 15px !important; }
.ml-3 { margin-left: 20px !important; }
.ml-4 { margin-left: 30px !important; }

.mr-0 { margin-right: 0 !important; }
.mr-1 { margin-right: 10px !important; }
.mr-2 { margin-right: 15px !important; }
.mr-3 { margin-right: 20px !important; }
.mr-4 { margin-right: 30px !important; }

.my-0 { margin-top: 0 !important; margin-bottom: 0 !important; }
.my-1 { margin-top: 10px !important; margin-bottom: 10px !important; }
.my-2 { margin-top: 15px !important; margin-bottom: 15px !important; }
.my-3 { margin-top: 20px !important; margin-bottom: 20px !important; }
.my-4 { margin-top: 30px !important; margin-bottom: 30px !important; }

/* Otros */
.text-center { text-align: center !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.bold { font-weight: bold !important; }