/* Navigation bar */
.navbar {
    position: fixed;
    width: inherit;
    height: var(--navbar-height);
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: var(--main-white);
    letter-spacing: .5px;
    font-size: .8rem;
    font-weight: 400;
    z-index: 10;
    width: 100%;
}

.navbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Left and Right blocks of navigation bar */
.navbar-left, .navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-right  i {
    font-size: 1.2rem;
    letter-spacing: normal;
}

/* Logo */
.navbar-brand {
    height: 100%;
}

/* List of navbar-items */
.navbar-list {
    list-style: none;
    display: inline;
}

/* Navbar items */
.navbar-item {
    display: inline-block;
    margin-left: 15px;
}

.navbar-item--active {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-item--block {
    display: block;   
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-item a {
    color: var(--main-white);
    text-decoration: none;
    position: relative;
    transition: all .1s;
}

.navbar-item a:hover {
    color: var(--main-light-grey);
}

.navbar-item--active a, .navbar-item--active a:hover {
    color: var(--main-white);
}
.navbar-item:not(.navbar-item--active)  a:after {    
    position: absolute;
    display: block;
    content: "";
    bottom: -2px;
    height: 1.25px;
    left: 50%;
    background: var(--main-light-grey);
    transition: all .3s ease;
    width: 0;
}

.navbar-item a:hover:after { 
    width: 100%; 
    left: 0; 
}
  
/* Navbar search input */
.navbar-toolbar {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-toolbar input {
    background-color: black;
    border: 1px solid var(--main-white);
    line-height: 1rem;
    padding: 4px 8px;
    color: var(--main-white);
    width: 200px;
    margin: 0 10px 0 5px;
}

.navbar-toolbar input::placeholder {
    color: var(--main-grey);
}

/* Navbar account (dropdown menu) */
.navbar-account {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.navbar-account:hover { 
    transition-delay: 0s;
}

.navbar-account-img {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    margin-right: 10px;
}

.navbar-account-name {
    margin-right: 5px;
}

.navbar-account:hover > .navbar-account-options {
    transform: scaleY(1);
    opacity: 1;
}

.navbar-account-options {
    cursor: auto;
    position: absolute;
    top: 50px;
    right: 25px;
    padding: 10px 30px 10px 15px;
    background-color: black;
    border: 1px solid var(--main-dark-grey);
    transform-origin: 100% 0;
    transform: scaleY(0);
    opacity: 0;
    margin-top: 10px;
    transition: all .1s ease-out;
    transition-delay: .05s; }

.navbar-account-options .separator {
    border-top: 1px solid var(--main-dark-grey);
    margin: 10px -30px 10px -15px;
}

.navbar-account-options .navbar-item {
    margin-top: 7px;
}

.navbar-account-caret {
    position: absolute;
    top: -15px;
    right: 10px;
    font-size: 1rem;
    color: var(---main-white);
}