/* Navigation bar */
.navbar {
    position: fixed;
    width: 100%;
    height: var(--navbar-height);

    display: flex;
    flex-direction: row;
    align-items: center;

    letter-spacing: .5px;
    line-height: 1rem;
    font-size: .85rem;
    font-weight: 400;
    z-index: 10;
    color: var(--main-white);
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navbar-expand--lg {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Logo */
.navbar-brand {
    width: 150px;
    min-width: 150px;
}

/* Navbar list */
.navbar-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-list--vertical {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Navbar items */
.navbar-item {
    display: inline-block;
    margin-left: 15px;
}

.navbar-list--vertical .navbar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7px;
}   

.navbar-list--vertical .separator {
    border-top: 1px solid var(--main-dark-grey);
    margin: 10px -20px 5px -20px;
    width: 200px;
}
.navbar-item a {
    color: var(--main-white);
    position: relative;
    transition: all .1s;
}

.navbar-item input {
    background-color: black;
    border: 1px solid var(--main-white);
    padding: 4px 8px;
    color: var(--main-white);
    width: 210px;
    margin: 0 10px 0 5px;
}

.navbar-item a:hover { color: var(--main-light-grey); }
.navbar-item--active a, .navbar-item--active a:hover { color: var(--main-blue); }

.navbar-list--main .navbar-item a:after {    
    position: absolute;
    display: block;
    content: "";
    bottom: -5px;
    height: 2px;
    left: 50%;
    background: var(--main-blue);
    transition: all .2s ease;
    width: 0;
}

.navbar-list--main .navbar-item--active a:after,
.navbar-list--main .navbar-item a:hover:after { 
    width: 100%; 
    left: 0;
}

/* Navbar account (dropdown menu) */
.navbar-account {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}

.navbar-account-img {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    margin-right: 10px;
}

.navbar-account-name { margin-right: 5px; }

.navbar-account:hover > .navbar-account-options {
    transform: scaleY(1);
    opacity: 1;
}

.navbar-account-options {
    cursor: auto;
    position: absolute;
    top: 50px;
    right: 25px;
    padding: 10px;
    background-color: black;
    border: 1px solid var(--main-dark-grey);
    transform-origin: 100% 0;
    transform: scaleY(0);
    opacity: 0;
    transition: all .1s ease-out;
    transition-delay: .05s;
    width: 170px;
    overflow: hidden;
}

.navbar-account-caret {
    position: absolute;
    top: -15px;
    right: 10px;
    font-size: 1rem;
    color: var(---main-white);
}

/* Responsive navbar */
.navbar-toggler {
    position: relative;
    width: 36px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    z-index: 9999;
    order: 1;
}

#toggler { 
    display: none;
}

#toggler:checked ~ .navbar-expand--lg {
    height: 100vh;
    background-color: black;
}

#toggler:checked .navbar {
    background-color: black !important;
}

.navbar-toggler:focus { outline:0; }

.navbar-toggler:before {
    content: "";
    position: absolute;
    left: 8px;
    top: 8px;
    width: 15px;
    height: 0.15em;
    background:white;
    box-shadow: 
        0 0.45em 0 0 white,
        0 0.90em 0 0 white;
}


@media (max-width: 1124px) {
    .navbar-expand--lg { justify-content: flex-end; } 
    .navbar-list { display: none; }
    .navbar-toggler { display: block; }
}