*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    /* Variables */
    --main-blue: #00a3da;
    --main-blue-hover: #007da7;
    --main-dark-grey: #464646;
    --main-light-grey: #dcdcdc;
    --main-grey: #979797;
    --main-red: #ff4136;
    --main-white: #fafafa;

}