/* Header */
.header-login {
    padding: 25px 10px;
    text-align: center;
}

.header-login img {
    width: 200px;
    max-width: 50%;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 10px;
    font-size: .9rem;
    color: var(--main-white);
    background-color: rgb(7, 7, 7);
}

.footer-content {
    display: flex;    
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.3rem;
}

.footer-content a { text-transform: capitalize; }
.footer-content p:not(:last-child) { margin-bottom: 10px; }

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 2rem;
    overflow: hidden;
}

.social-icon img { 
    height: 2rem; 
    border-radius: 50px;
    margin-top: 5px;
}

.social-icon { margin: 0 10px; }
.social-icon--twitter { color: #1DA1F2; }
.social-icon--github { color: white; }
.social-icon--linkedin { color: #0077B5; }
.social-icon--instagram { color: orangered; }

/* Links */
.link {
    text-decoration: none;
    color: var(--main-blue);
    text-transform: uppercase;
}

.link:hover {
    color: var(--main-blue-hover);
    text-decoration: underline;
}

/* Background image with gradient */
.background-gradient {
    background: 
        linear-gradient(
            to bottom,
            rgba(0,0,0,0),
            rgba(7,7,7,1)
        ),
        url('/assets/img/landing/landing_hero.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

/* Layout del panel de login */
.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login {
    padding: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(325px, 425px));
    grid-gap: 30px;
    color: white;
}

.login-title {
    grid-column: 1 / span 2;
    text-align: center;
}

/* Features (login screen) */
.login-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.features {
    padding: 1rem 1.25rem;
    background-color: #222;
    border-radius: 5px;
}

.features-list {
    list-style: none;
    font-size: 1.25rem;
    line-height: 1.65rem;
    letter-spacing: .6px;
    margin-top: .75rem;
}

.features-tick {
    padding: .5rem 0;
    position: relative;
}

.features-tick p {
    padding-left: 2rem;
}

.features-tick span {
    padding-left: 2rem;
    font-size: .9rem;
    line-height: 1rem;
    color: var(--main-light-grey);
}

.features-tick::before {
    display: inline-block;
    content: '✓';
    position: absolute;
    top: 5px;
    font-size: 2rem;
    line-height: 2rem;
    background: -webkit-linear-gradient(var(--main-white), var(--main-blue-hover));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.login-create {
    grid-column: 1 / span 2;
    text-align: center;
}

@media (min-height: 900px) { 
    .login-wrapper {
        height: 100vh;
    }
}

@media (max-width: 800px) { 
    .login { 
        grid-template-columns: 1fr; 
        padding: 15px;
        grid-gap: 20px;
    }
    .login-title { grid-column: 1; }
    .login-create { grid-column: 1; }
}

/* Layout principal del resto de paginas */
.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--main-white);
}

.main-wrapper--center {
    align-items: center;
}

/* Texts */
.title {
    font-family: 'Fugaz One', cursive;
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 1rem 0;
    text-transform: uppercase;
}

.sub-title {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: .75px;
}

.text-muted {
    font-size: .3em;
    text-transform: uppercase;
}

.text-white { color: var(--main-light-grey); }

@media (max-width: 700px) { 
    .title {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .text-muted { font-size: .75rem; }

    .sub-title {
        font-size: 1.1rem;
        font-weight: 500;
        letter-spacing: .6px;
    }
}