/* Background image with gradient */
.background-gradient {
    background: 
    linear-gradient(
        to bottom,
        rgba(0,0,0,0),
        rgba(0,0,0,.3) 35%,
        rgba(0,0,0,.5) 60%,
        rgba(0,0,0,1) 80%
    ),
    linear-gradient(
        to right,
        rgba(0,0,0,0) 60%,
        rgba(0,0,0,.5) 80%,
        rgba(0,0,0,1) 85%
    ),
    linear-gradient(
        to left,
        rgba(0,0,0,0) 60%,
        rgba(0,0,0,.5) 80%,
        rgba(0,0,0,1) 85%
    ),
    url('/assets/img/landing_hero.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

/* Main wrappers */
.login-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
}

.main-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 25px;
}

/* Layout del panel de login */
.login {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 400px 400px 1fr;
    grid-gap: 40px;
    color: white;
    align-items: start;
}

.login-title {
    grid-row: 1;
    grid-column: 1 / span 4;
    text-align: center;
    align-self: center;
}

.login-info {
    grid-row: 2;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    grid-row: 2;
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.login-create {
    grid-row: 3;    
    grid-column: 1 / span 4;
    text-align: center;
    align-self: flex-start;
}