/* Background image with gradient */
.background-gradient {
    background: 
    linear-gradient(
        to bottom,
        rgba(0,0,0,0),
        rgba(0,0,0,.3) 35%,
        rgba(0,0,0,.5) 60%,
        rgba(0,0,0,1) 80%
    ),
    linear-gradient(
        to right,
        rgba(0,0,0,0) 60%,
        rgba(0,0,0,.5) 80%,
        rgba(0,0,0,1) 85%
    ),
    linear-gradient(
        to left,
        rgba(0,0,0,0) 60%,
        rgba(0,0,0,.5) 80%,
        rgba(0,0,0,1) 85%
    ),
    url('/assets/img/landing_hero.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

/* Main wrappers */
.login-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
    color: var(--main-white);
}

/* Layout del panel de login */
.login {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 400px 400px 1fr;
    grid-gap: 40px;
    color: white;
    align-items: start;
}

.login-title {
    grid-row: 1;
    grid-column: 1 / span 4;
    text-align: center;
    align-self: center;
}

.login-info {
    grid-row: 2;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    grid-row: 2;
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.login-create {
    grid-row: 3;    
    grid-column: 1 / span 4;
    text-align: center;
    align-self: flex-start;
}

/* Hero wrapper */
.hero {
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.video-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero video {
    transform: translateY(-100px);
    width: 100%;
    object-position: center;
    object-fit: cover;
    overflow: hidden;
}

@media (max-width: 4500px) { 
    .hero { height: 600px; }
    .hero video { height: 150%; }
}

@media (max-width: 2000px) { 
    .hero { height: 450px; }
    .hero video { height: 100%; }
}

@media (max-width: 1440px) { 
    .hero { height: 400px; }
    .hero video { height: 150%; }
}

@media (max-width: 1024px) { 
    .hero { height: 325px; }
    .hero video { 
        transform: translateY(-50px);
        height: 150%; 
    }
}

.hero .filter {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-right {
    align-self: flex-end;
}

.hero-right .agerating {
    padding: 15px;
    padding-right: 50px;
    background-color: rgba(0, 0, 0, .3);
    color: var(--main-white);
    border-left: solid 3px var(--main-white);
    font-size: 1.2rem;
    font-weight: 400;
}

.hero-buttons button, .hero-options button {
    margin-right: 15px;
}

/* List de minis de películas */
.content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.content-title {
    font-size: .9rem;
    margin-bottom: 10px;
    cursor: pointer;
}

.content-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-flow: row;
    grid-gap: 30px;
}

.content-list--lg {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.mini {
    position: relative;
    width: 100%;
    height: 225px;
    cursor: pointer;
    perspective: 150rem;
}

.mini-lg {
    height: 400px;
    overflow: hidden;
}

.mini h3 {
    text-transform: uppercase;
    letter-spacing: .1px;
    font-family: 'Fugaz One', cursive;
    font-size: 1.5rem;
}

.mini-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: all .8s ease;
    border-radius: 10px;
}

.mini-side--front {
    position: relative;
}

.mini-side--front h3 {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 4px;
    margin: 10px;
    padding: 3px 10px;
}

.mini-slide h3 {
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.mini-side--back {
    transform: rotateY(-180deg);
    background-color: rgba(255, 255, 255, .25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    height: 100%;
}

.mini-side--back h3 {
    font-size: 1.25rem;
}

.mini-side--back p {
    font-size: .9rem;
}


.mini-side--back span {
    font-size: .9rem;
    font-weight: bold;
}

.mini-side--back .buttons {
    margin-right: 0;
    align-self: flex-end;
}

.mini .rating {
    margin: 5px 0;
    color:  gold; 
}

.mini-slide {
    height: 100%;
    width: 100%;
    transition: all .5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    background-color: rgba(0, 0, 0, .6);
}


.mini-slide--up {
    top: 0;
    left: 0;
    position: absolute;
    transform: translateY(100%);
}

.mini:hover .mini-slide--up {
    transform: translateY(0);
}

.mini:hover .mini-side--front {
    transform: rotateY(180deg);
}

.mini:hover .mini-side--back {
    transform: rotateY(0);
}

.mini-caption {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    z-index: 0;
}

.mini-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.mini-tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.mini-alert {
    padding: 4px 10px;
    background-color: red;
    font-size: .8rem;
    font-weight: 400;
    text-transform: uppercase;
}

.mini-age {
    padding: 4px 10px;
    background-color: rgba(0, 0, 0, .5);
    color: var(--main-white);
    border-left: solid 3px var(--main-white);
    font-size: .9rem;
    font-weight: 400;
}

.mini-progress {
    position: absolute;
    bottom: -12px;
    margin-left: 50%;
    transform: translateX(-50%);
    border: none;
    background-color: red;
    height: 3px;
}

progress::-webkit-progress-value {
    background-color: red;
}  